<% layout('/layouts/boilerplate') -%>


      <div class="box m-3">

         <div class="card shows noborder">
            <h2>
               <%= showlist.title %>
            </h2>
            <img src=" <%= showlist.image.url %>" class="card-img-top show" alt="<%= showlist.image.filename %>">
            <div class="card-body show">

               <p>
                  <%= showlist.description %>
               </p>

               <p> &#8377 <%= showlist.price ? Number(showlist.price).toLocaleString("en-IN") : "N/A" %> / night
               </p>
               <p>
                  <%= showlist.country %>
               </p>
               <p>
                  <%= showlist.location %>
               </p>
               <div class="buttons"><a href="/listings/<%= showlist._id %>/edit" class="btn btn-dark edit-btn">edit</a>

                  <form action="/listings/<%= showlist._id %>?_method=DELETE" method="post">
                     <button class="btn btn-dark">delete</button>
                  </form>
               </div>

            </div>
         </div>
      </div>
      <hr class="col-8 offset-2">
      <div class="col-6 offset-3 mb-3">
         <h3>Leave a review</h3>
         <form method="post" action="/listings/<%= showlist._id %>/review" novalidate class="needs-validation">
            <div class="mb-3">
               <label for="rating" class="form-label">Rating</label>
               <input type="range" min="1" max="5" class="form-range" id="rating" name="review[rating]">

            </div>
            <div class="mb-3">
               <label for="comment" class="form-label">Comment</label>
               <textarea class="form-control" id="comment" name="review[comment]" cols="20" rows="6"
                  required></textarea>
               <div class="invalid-feedback">
                  enter comment
               </div>
            </div>
            <button type="submit" class="btn btn-dark edit-btn">Submit</button>
         </form>
      </div>
      <hr class="col-8 offset-2">
 
      <div class="col-8 offset-2 mb-3 ">
         <h3>All reviews</h3>
         <div class="row">
            <% for (const review of showlist.reviews) { %>
               <div class="col-8 offset-2 offset-md-0 col-md-6 mb-3">
                  <div class="card">
                     <div class="card-body p-2">
                        <h5 class="card-title">USER</h5>
                        <h6 class="card-text">
                           <%= review.rating %> stars
                        </h6>
                        <p class="card-text">
                           <%= review.comment %>
                        </p>
                        <form action="/listings/<%=showlist._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                           <button class="btn btn-dark" type="submit">Delete</button>
                       </form>
                       
                     </div>
                  </div>
               </div>
               <% } %>
         </div>
      </div>

 